body {
  background-color: #FF6F61;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: white;
}

.led-control {
  margin-bottom: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

